.all_ap_section
  width: 100%
  height: auto
  background-color: $colorGrey
  flex-wrap: wrap

.all_ap:first-child
  margin-top: 65px

.allDiv
  width: 21%
  height: auto
  background-color: $mobileColor
  margin: 120px 1em 1em 1em
  transition: 0.3s ease
  &:hover
    opacity: 0.9
    transform: scale(1.1, 1.1)

.allDiv > img
  width: 100%
  height: auto

.allText
  font-size: 0.9em
  font-family: $fontSecond
  color: black
  line-height: 1.5

.allName
  font-size: 1em
  color: $colorWhite
  font-family: $fontSecond
  font-weight: 550
  background-color: $colorBlue

.allAp
  font-size: 1.5em
  padding: 0 10px

.fa-user-alt
  font-size: 1.5em

@media only screen and (min-width: 641px) and (max-width: 1025px)
  .all_ap_section
    height: auto

  .allDiv
    width: 45%
    margin: 1em

@media only screen and  (max-width: 640px)
  .all_ap_section
    height: auto
    &:first-child
      margin-top: 100px

  .allDiv
    width: 80%
    margin: 1em



