.apartmentsPage
  width: 100%
  height: auto
  background-color: $colorGrey
  padding-top: 90px
  flex-wrap: wrap
  justify-content: center

.apName
  font-size: 2em
  font-family: $fontMain
  padding-bottom: 15px

.apSection
  width: 100%
  height: auto
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.apArticle
  width: 35%
  height: auto
  text-align: center
  position: relative
  flex-direction: column

.mainImg
  width: 100%
  height: 370px

.mainSmall
  width: 16%
  height: auto

.arrow
  font-size: 2em
  color: $colorWhite
  position: absolute
  top: 200px

.fa-angle-double-left
  left: 30px

.fa-angle-double-right
  right: 30px

.apText
  font-size: 0.9em
  font-family: $fontSecond
  color: $textGrey
  text-align: left
  padding-left: 1em
  line-height: 1.7

.fa-shower, .fa-parking, .fa-user-alt
  padding-right: 0.3em

.apTextBold
  color: black
  font-weight: 700

.apDiv
  width: 100%
  flex-direction: row
  justify-content: left

.apUl
  width: 50%
  padding-left: 35px

.apLi
  line-height: 1.4
  padding: 0

.callButton
  background-color: $mobileColor
  margin: 10px auto

.callButton:hover
  border-color: black

@media only screen and (min-width: 1025px) and (max-width: 1450px)
  .apartmentsPage
    padding-top: 80px

  .apArticle
    width: 45%
    padding: 0 0 25px 10px

@media only screen and  (max-width: 1024px)
  .apartmentsPage
    padding-top: 80px

  .apArticle
    width: 90%
    padding-bottom: 25px

  .mainImg
    height: auto

  .mainSmall
    width: 20%

  .arrow
    display: none !important

  .apText
    font-size: 1em
