.apartments
  width: 100%
  height: calc(100vh - 90px)
  background-color: $colorBlue
  flex-direction: column

.apartmentsHeader
  font-size: 2em
  color: $colorWhite
  text-align: center
  font-family: $fontMain
  font-weight: 100
  padding: 1em

.apartmentsSection
  width: 100%
  height: auto
  flex-wrap: wrap

.apartmentsArticle
  width: 450px
  height: 480px
  flex-direction: column
  padding: 0.8em

.image
  width: 100%
  height: 300px

.apartmentDiv
  width: 100%
  height: 180px
  background-color: $colorGrey

.apartmentsRoom
  font-size: 1.2em
  font-family: $fontMain
  font-weight: 200
  padding: 0.8em 0.8em 0.8em 2.5em

.apartmentUl
  padding-left: 2.5em
  line-height: 1.5
  font-family: $fontSecond
  color: $textGrey

.apartmentsMore
  font-size: 0.9em
  padding: 0.8em 2em 0.8em 2em
  font-family: $fontMain
  color: $colorWhite
  border: 2px solid white
  margin: 50px auto

.apartmentsMore:hover
  color: black
  background-color: $colorWhite
  transition-duration: 500ms