.home
  width: 100%
  height: 100vh
  background: url("../images/milna.jpg")
  background-repeat: no-repeat
  background-position: 100% 100%

.homeForm
  width: 850px
  height: auto
  background-color: $colorWhite

.formHome
  font-size: 1.4em
  margin: 0.2em
  border: none

@media only screen and (max-width: 1024px)
  .home
    height: 650px
    background-size: cover