body
  font-size: 20px
.link
  text-decoration: none
  cursor: pointer

.flex
  display: flex

.fontColorWhite
  color: white

$mobileColor:#f4b86f

@media only screen and (max-width: 1024px)
  body
    font-size: 16px