.map
  width: 100%
  height: 600px
  flex-wrap: wrap

.mapInfo
  height: 100%
  width: 50%
  background: url("../images/milna_photoshop.png")

.infoHeader
  font-size: 2em
  font-weight: 200
  color: $colorWhite
  font-family: $fontMain
  padding: 1.5em
  text-align: center

.infoDiv
  width: 90%
  height: auto
  margin: 1em

.round
  width: 50px
  height: 50px
  border-radius: 25px
  background-color: $mobileColor

.fa-map-marker-alt, .address, .fa-phone, .fa-envelope
  font-size: 1.2em
  color: $colorWhite

.ourInfo
  width: 70%
  height: auto
  flex-direction: column
  justify-content: left !important

.divHeader
  font-size: 1.3em
  font-weight: 200
  color: $colorWhite
  font-family: $fontMain
  padding-left: 1em

.address
  font-size: 1em
  padding-left: 1em
  font-family: $fontSecond
  line-height: 1.8

.mapArticle
  width: 60%
  height: 100%

.map_frame
  width: 50%
  height: 100%

@media only screen and (min-width: 641px) and (max-width: 1024px)
  .map
    flex-direction: column
    height: auto

  .mapInfo, .map_frame
    width: 100%

  .map_frame
    height: 400px

@media only screen and (max-width: 640px)
  .map
    flex-direction: column
    height: auto

  .mapInfo, .map_frame
    width: 100%

  .map_frame
    height: 280px

  .infoHeader
    padding: 0.5em




