.navbar
  width: 100%
  height: 90px
  position: fixed
  justify-content: center

.navDiv
  width: 1300px
  height: auto
  justify-content: space-around

.navIcon
  width: 120px
  height: auto

.navMain
  width: 800px
  height: 100%
  justify-content: center
  align-items: center
  line-height: 90px
  text-align: center

.navbarItem
  width: 20%
  height: 100%

@media only screen and (max-width: 1024px)
  .navbar
    height: 70px

  .navDiv
    width: 100%

  .navMain
    display: none




