.navbar
  width: 100%
  height: 90px
  position: fixed
  justify-content: center

.navDiv
  width: 1300px
  height: auto
  justify-content: space-around

.navIcon
  width: 120px
  height: auto

.navMain
  width: 800px
  height: 100%
  line-height: 90px
  text-align: center

.navbarItem
  width: 20%
  height: 100%

.mobNav, .mobNav2
  display: none
  font-size: 2.3em
  width: 70px
  height: 70px
  position: absolute
  top: 0
  right: 0

@media only screen and (max-width: 1024px)
  .navbar
    height: 70px
    background-color: $mobileColor

  .navDiv
    width: 100%
    justify-content: space-between

  .navMain
    display: none
    width: 100%
    height: 0
    flex-direction: column
    position: absolute
    top: 70px
    left: 0
    background-color: $mobileColor

  .navbarItem
    width: 100%
    height: 50px
    line-height: 50px

  .mobNav
    display: flex

  .mobNav2
    display: none
    line-height: 70px
    text-align: center






