.whyUs
  width: 100%
  height: auto
  background-color: $colorGrey
  flex-direction: column

.whyUsHeader
  font-size: 1.5em
  padding: 1em
  font-family: $fontMain
  font-weight: 300

.whySection
  width: 100%
  height: auto
  flex-wrap: wrap
  box-sizing: border-box

.whyArticle
  width: 25%
  height: auto

.whyLink
  font-family: $fontMain
  text-align: center
  flex-direction: column
  color: black
  font-weight: 300

.fa-user-check, .fa-bicycle, .fa-umbrella-beach, .fa-map-marked
  font-size: 3em

.whyLink:hover
  color: $mobileColor
  transition-duration: 500ms

.whyText
  font-size: 0.9em
  color: $textGrey
  padding: 2em
  font-family: $fontSecond
  text-align: center
  line-height: 1.5

@media only screen and (min-width: 1025px) and (max-width: 1250px)
  .whyText
    font-size: 1em

@media only screen and (max-width: 1024px)
  .whyArticle
    width: 80%


